<!DOCTYPE html>
<html>
<head>

  <link rel="stylesheet" type="text/css" href="/style/main.css"  />

  <title>Música Erudita</title>
</head>

  <div class="main-container">

    <header>

      <nav>
        <a href="/">
          <img src="/img/nota-colcheia.jpg" alt="Logo do Site Música Erudita"  style=""/>
          <img src="/img/nota-semibreve.jpg" alt="Logo do Site Música Erudita"  style=""/>
          <img src="/img/nota-fusa.jpg" alt="Logo do Site Música Erudita"  style=""/>

        </a>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/api/mysql">API MYSQL Compositores</a></li>
          <li><a href="/api/mongodb">API MONGODB Compositores</a></li>

        </ul>
      </nav>

      <div class="title">

        <!-- <img src="/img/logo.png" alt="Meadowlark Travel Logo"  /> -->

        <h1>Projeto Final do Curso BANCO DE DADOS E BI COM ÊNFASE EM SOFTWARE LIVRE</h1>
        <p>Pós-Graduação FacSenac-DF</p>
        <a target="_blank" href="https://www.df.senac.br/faculdade/"><img src="/img/senac-df/logo-senac-1.png" alt="logo da faculdade Senac-DF"  /></a>
      </div>


    </header>



    <div class="senac-container">

      {{{body}}}
    </div>



  </div>

</html>
