<!DOCTYPE html>
<html>
<head>
  <title>Música Erudita</title>
</head>
  <header>
    <img src="/img/nota-colcheia.jpg" alt="Logo do Site Música Erudita"  style="width:40px; padding:3px; border:1px solid #ca8c3a; border-radius: 50%"/>
    <img src="/img/nota-semibreve.jpg" alt="Logo do Site Música Erudita"  style="width:40px; padding:3px; border:1px solid #ca8c3a; border-radius: 50%"/>
    <img src="/img/nota-fusa.jpg" alt="Logo do Site Música Erudita"  style="width:40px; padding:3px; border:1px solid #ca8c3a; border-radius: 50%"/>

    <!-- <img src="/img/logo.png" alt="Meadowlark Travel Logo"  /> -->
  </header>

  {{{body}}}


</html>
