/*
  site FACSENAC-DF
  https://www.df.senac.br/faculdade/
*/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: yellow; /*#f29301; #f29e0f*/
}



header h1 {
  margin-bottom: 15px;

  text-align: center;
}

header nav {
  background-color: yellow;
  /*margin-bottom: 10px;*/
  padding-bottom: 10px;
  display: flex;
}
header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 80%;
  max-width: 600px;
}
header nav li {
  list-style: none;

}
header a {
  text-decoration: none;
}
header nav a {
  padding-right: 20px;
}
header nav a img {
  width:40px;
  padding:3px;
  border:1px solid #ccc6be;
  border-radius: 50%
}


.title {
  background-color: #215ca5; /*#3186ef; 0073ff; #4a8eff*/
  padding: 20px;
  border-radius: 5px 5px 0 0;
}
.title a img {
  /*margin-bottom: 30px;*/

  width: 110px;
  border: 3px solid #3186efa1;
  border-radius: 25%;
}

.main-container {
  margin: 10px;
  /*padding: 20px;*/

}

.senac-container {
  background-color: white;

  padding: 20px;
  border-radius: 0 0 5px 5px;
}

section h3 {
  margin-top: 20px;
}
section img {
  border: 1px yellow solid;
  border-radius: 1px;

  width: 15%;
  max-width: 418px;
}


/*MEDIA QUERIES*/
@media screen and (max-width: 815px){
  header nav {
    display: block;

  }

  header a {
    padding-bottom: 10px;
  }

  header nav ul {
    margin-top: 10px;

    justify-content: unset;
    width: 50%;
  }

  header nav a img {
    width: 30px;
  }
}

@media screen and (max-width: 500px) {
  section img {
    max-width: 90%;
    min-width: 80%;
  }
}
