<h1>Sobre Musica Erudita</h1>

{{#if musicSheet}}
  <p>
    Curiosidades do mundo da música erudita:
  </p>
  <blockquote>
    {{musicSheet.sheet}}
  </blockquote>
  <p>
    {{musicSheet.ref}}
  </p>
{{/if}}
