<section>

  <h2>Bem vindo à API MYSQL Compositores</h2>


  <h3>Lista completa dos compositores</h3>
  <a target="_blank" href="/api/mysql/compositores"><img src="/img/partitura-small.jpg" alt="Imagem de uma partitura de música" style="width: 300px; height: 90px; border: 1px yellow solid; border-radius: 1px;" /></a>

  <h3>Compositores Eruditos</h3>
  <a target="_blank" href="/api/mysql/compositores/erudito"><img src="/img/violaocelo-small.jpg" alt="Imagem de um violãocelo sendo tocado" style="width: 80px; border: 1px yellow solid; border-radius: 1px;" /></a>

  <h3>Compositores Populares</h3>
  <a target="_blank" href="/api/mysql/compositores/popular"><img src="/img/violao-popular-small.jpg" alt="Imagem artística de um violão-popular" style="width: 80px; height: 120px; border: 1px yellow solid; border-radius: 1px;" /></a>
</section>
