<div class="mysql-container">

  <h2>MYSQL Compositores</h2>
  <section class="api-mysql">


    <div>

      <h3>Lista completa dos compositores</h3>
      <a target="_blank" href="/api/mysql/compositores"><img class="img-big" src="/img/orquestra-medium.jpg" alt="Imagem de uma partitura de música" /></a>
    </div>

    <div>

      <h3>Compositores Eruditos</h3>
      <a target="_blank" href="/api/mysql/compositores/erudito"><img src="/img/violaocelo-small.jpg" alt="Imagem de um violãocelo sendo tocado" /></a>

      <h3>Compositores Populares</h3>
      <a target="_blank" href="/api/mysql/compositores/popular"><img src="/img/violao-popular-small.jpg" alt="Imagem artística de um violão-popular" /></a>
    </div>
  </section>


  <h2>MYSQL Composições</h2>
  <section class="api-mysql">


    <div>


      <h3>Lista completa das Composições</h3>
      <a target="_blank" href="/api/mysql/composicoes"><img class="img-big" src="/img/orquestra-medium.jpg" alt="Imagem de uma partitura de música" /></a>
    </div>

    <div>

      <h3>Composições Eruditas</h3>
      <a target="_blank" href="/api/mysql/composicoes/erudito"><img src="/img/violaocelo-small.jpg" alt="Imagem de um violãocelo sendo tocado" /></a>

      <h3>Composições Populares</h3>
      <a target="_blank" href="/api/mysql/composicoes/popular"><img src="/img/violao-popular-small.jpg" alt="Imagem artística de um violão-popular" /></a>
    </div>
  </section>
</div>
