<h1>Bem vindo à API MONGODB Compositores</h1>


<h2>Lista completa dos compositores</h2>
<a target="_blank" href="/api/mongodb/compositores"><img src="/img/partitura-small.jpg" alt="Imagem de uma partitura de música" style="width: 300px; height: 90px; border: 1px yellow solid; border-radius: 1px;" /></a>

<h2>Compositores Eruditos</h2>
<a target="_blank" href="/api/mongodb/compositores/erudito"><img src="/img/violaocelo-small.jpg" alt="Imagem de um violãocelo sendo tocado" style="width: 80px; border: 1px yellow solid; border-radius: 1px;" /></a>

<h2>Compositores Populares</h2>
<a target="_blank" href="/api/mongodb/compositores/popular"><img src="/img/violao-popular-small.jpg" alt="Imagem artística de um violão-popular" style="width: 80px; height: 120px; border: 1px yellow solid; border-radius: 1px;" /></a>
