<div class="home">

  <h2>Modelagem de Dados SQL e NO-SQL</h2>


  <div class="home-container">
    <section class="home-databases">
      <h3>Modelo MYSQL</h3>
      <a target="_blank" href="/api/mysql"> <img src="/img/databases/mysql-pic.png" alt="Imagem apresentando o banco de dados Mysql" /></a>
    </section>
    <section class="home-databases">
      <h3>Modelo MONGODB</h3>
      <a target="_blank" href="api/mongodb"> <img src="/img/databases/mongodb-picture.jpg" alt="Imagem apresentando o banco de dados Mongodb" /></a>
    </section>
  </div>
</div>











<p>
  Questions? Check out our <a href="/about" data-test-id="about">About Us</a> page!
</p>
