<h1>Modelagem de Dados SQL e NO-SQL</h1>


<div class="home-container">
  <section class="home-databases">
    <h2>Modelo MYSQL</h2>
    <a target="_blank" href="/api/mysql"> <img src="/img/databases/mysql-pic.png" alt="Imagem apresentando o banco de dados Mysql" /></a>
  </section>
  <section class="home-databases">
    <h2>Modelo MONGODB</h2>
    <a target="_blank" href="api/mongodb"> <img src="/img/databases/teste1.jpg" alt="Imagem apresentando o banco de dados Mongodb" /></a>
  </section>
</div>











<p>
  Questions? Check out our <a href="/about" data-test-id="about">About Us</a> page!
</p>
